<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317367479932-rngcn00vfud1q3tbdvlqepv9jcfc6lmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317367479932-rngcn00vfud1q3tbdvlqepv9jcfc6lmj</string>
	<key>API_KEY</key>
	<string>AIzaSyBw6JVoBirFLwu-Eivemaw8YTinWHuIVmI</string>
	<key>GCM_SENDER_ID</key>
	<string>317367479932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventfully</string>
	<key>PROJECT_ID</key>
	<string>eventfully-59447</string>
	<key>STORAGE_BUCKET</key>
	<string>eventfully-59447.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317367479932:ios:2d17c82c4d3d35b052e3f9</string>
</dict>
</plist>